<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Department List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-primary form-control" href="/Department/Upsert">
            <i class="fas fa-plus"></i>&ensp;New Department
        </a>
    </div>
</div>
<br/>
<table id="tblData" class="table table-bordered table-active table-striped table-hover table-group-divider">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script src="~/js/Department.js"></script>
}
