<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Team  List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-primary form-control" href="/Team/Upsert">
            <i class="fas fa-plus"></i>&ensp;New Team
        </a>
    </div>
</div>
<br/>
    <table id="tblData" class="table table-bordered table-active table-striped table-hover table-group-divider table-responsive-lg">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


@section Scripts {
    <script src="~/js/Team.js"></script>
}
