
<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Salary List</h2>
    </div>
</div>
<br/>
    <table id="tblData" class="table table-bordered table-active table-striped table-hover table-group-divider table-responsive-lg">
        <thead>
            <tr>
            <th>Amount</th>
            <th>StartDate</th>
            <th>EmployeeName</th>
            <th>EmployeeEmail</th>
          @*  <th>EmployeeDepartment</th>
            <th>EmployeeTeam</th>
            <th>EmployeePosition</th>*@
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


@section Scripts {
        <script src="~/js/Salary.js"></script>
}
